<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>./tests/Feature</directory>
        </testsuite>
        <testsuite name="Integration:Postgres">
            <directory>./tests/Integration/Postgres</directory>
        </testsuite>
        <testsuite name="Integration:Mysql">
            <directory>./tests/Integration/Mysql</directory>
        </testsuite>
        <testsuite name="PHPStan">
            <directory>./tests/PHPStan</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="PGSQL_HOST"     value="127.0.0.1"/>
        <env name="PGSQL_PORT"     value="54320"/>
        <env name="PGSQL_DB"       value="rome_test"/>
        <env name="PGSQL_USER"     value="rome_test"/>
        <env name="PGSQL_PASSWORD" value="secret"/>
        <env name="MYSQL_HOST"     value="127.0.0.1"/>
        <env name="MYSQL_PORT"     value="13306"/>
        <env name="MYSQL_DB"       value="rome_test"/>
        <env name="MYSQL_USER"     value="rome_test"/>
        <env name="MYSQL_PASSWORD" value="secret"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
